<h2 class="page-header" >Ielogoties</h2>
<form class="form-signin" (submit)="onLoginSubmit()">
        <div class="form-group">
          <label for="Username">Lietotājvārds</label>
          <input type="text" class="form-control" placeholder="Ievadiet Lietotājvārdu" [(ngModel)]="username" name="username">
        </div>
        <div class="form-group">
        <label for="Password">Parole</label>
        <input type="password" class="form-control" placeholder=" Ievadiet Paroli" [(ngModel)]="password" name="password">
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Atcerēties mani
          </label>
        </div>
        <input class="btn btn-lg btn-primary" type="submit" value="Ielogoties">
</form>
