<div>
<h2 class="page-header">Reģistrēties</h2>
<form (submit)="onRegisterSubmit()" >
  <div class="form-group">
    <label for="name">Vārds</label>
    <input type="text" [(ngModel)]="name" name="name" class="form-control" id="name" placeholder="Ievadiet Vārdu">
  </div>
  <div class="form-group">
    <label for="username">Lietotājvārds</label>
    <input type="text" [(ngModel)]="username" name="username" class="form-control" id="username" placeholder="Ievadiet Lietotājvārdu">
  </div>
  <div class="form-group">
    <label for="email">Epasts</label>
    <input type="email" [(ngModel)]="email" name="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Ievadiet Epastu">
 <!--   <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
  </div>
  <div class="form-group">
    <label for="password">Parole</label>
    <input type="password" [(ngModel)]="password" name="password" class="form-control" id="password" placeholder=" Ievadiet Paroli">
  </div>
  <input type="submit" class="btn btn-primary" value="Apstiprināt">
</form>
</div>
